/* Default font weight for Chrome, Firefox, and other browsers on specific class */
.font-bold {
  font-weight: 700 !important;
}

/* Safari specific hack */
/* Safari 6.1 to 10.0 (Older versions) - not strictly necessary unless supporting very old Safari versions */
_::-webkit-full-page-media,
_:future,
:root .font-bold {
  font-weight: 590 !important;
}

/* Safari 10.1+ (Newer versions) */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .font-bold {
      font-weight: 590 !important; /* Apply font-weight 590 specifically for Safari */
    }
  }
}
